/* .Background {
    background-image: url('../Image/Background.jpg');
    background-repeat: "no-repeat";
    background-position: "center";
    margin-left: 5%;
    margin-right: 20px;
    height: 850px;
    width: 1000px;
} */

h1 {
    text-align: center;
}